
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}
body{
    background-color: #404040;
    overflow-x: hidden;
}
#title{
    background-color: #404040;
}
.nav-item{
    font-family: 'Montserrat', sans-serif;
   padding:0 40px; 
}

.navbar-brand{
    font-weight: bold;
    margin-left: 40px;
    font-family: 'Montserrat', sans-serif;

}
#E-Com{
    font-family: 'Montserrat', sans-serif;
    color: #ffff;
    margin-top: 20px;
    margin-left: 20px;
     
}
#contact{
 display: flex;
 font-family: 'Montserrat', sans-serif;
 justify-content: center;
 align-items: center;
 height: 90vh  ;
}
.t2{
    color: #ffff;

}
.form{
    width: 500px;
    padding: 6px;
}
input, textarea{
    width: 100%;
    padding: 6px;
    outline: none;
    border: none;
    margin: 6px 0px;
}
.t3{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
    margin-left: 200px;
    margin-top: 20px;
}
.t4{    
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color:#ffff;
    margin-top: 10px;
}
.card{
    margin: auto;
    margin-top: 150px;
}
.card-header{
    font-family: 'Montserrat', sans-serif;
}
.ecom{
    width: 100%;
     margin-left: 50px;
    margin-top: 40px;
}
.ecom2{
    width: 100%;
    margin-left: 50px;

}
.c1{
    font-family: 'Montserrat', sans-serif;
     text-align: center;
     color:#ffff;
    font-size: 40px;   
    line-height: 1.5;
    }
.img1{
    width:30% ;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 60px;
    position: absolute;
}
.img2{
    width: 70%;
    float: right;
    margin-bottom: 40px;
    margin-right: 50px;
    
}
.card-body{
    background-color: #404040;
     color: #ffff;
     height: 15rem;
     text-align: center;
     font-family: 'Montserrat', sans-serif;

}
.nar{
    width: 15%;
}
.text{
   position: relative;
   margin-top: 300px;
   margin-left: 700px;
   font-family: 'Montserrat', sans-serif;
   font-size:25px;
   color: #ffff;

}
.aboutme{
    font-family: 'Montserrat', sans-serif;
    margin-top: 250px;
    margin-left: 150px;
    color: #ffff;
}
.btn{
    background-color:#B2BEB5;
    padding: 15px 25px;
    color: #ffff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  border-radius: 0;
}
@media(max-width:1024px){
    .text{
        width: 25%;
        margin-left: 550px;
        margin-top: 70px;
        position: absolute;
    }
    .img1{
        width: 60%;
        height: 80%;
        margin-left: 20px;
    }
    .img2{
        float: left;
        width: 50%;
    }
    .aboutme{
        margin-top: 550px;
        margin-left: 50px;
    }
    .card-body{
        height: 10rem;
    }
    .card{
        margin-top: 100px;
    }
    
}
